/* Card Index -------------------------------------- Card Index */

.card-index {
  text-align: center;
  position: relative;
}

.card-index-select {
  text-align: left;
  width: 100%;
}

.card-index-select select {
  margin-left: 5px;
}
