.accordion-menu {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99; }

.accordion-menu-button {
  background-color: #008080;
  border: none;
  border-bottom: solid black 2px;
  left: 0;
  height: 50px;
  position: absolute;
  text-align: left;
  top: 0;
  width: 100%; }

.accordion-menu-button:active {
  border: none; }

.accordion-menu-button img {
  width: 40px;
  height: 40px;
  filter: invert(1);
  display: inline-grid; }

.accordion-menu-button h1 {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  position: absolute;
  left: 60px;
  top: 10px; }

@keyframes accordion-menu-toggle {
  from {
    height: 0; }
  to {
    height: 20em; } }

.accordion-menu-open {
  animation: accordion-menu-toggle 0.5s;
  background: #ccffff;
  border-bottom: solid black 2px;
  height: 20em;
  left: 0;
  opacity: 0.9;
  position: absolute;
  top: 50px;
  width: 20em; }

@keyframes accordion-menu-links {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.accordion-menu-open a {
  animation: accordion-menu-links 1s;
  color: black;
  display: block;
  font-family: 'Noto Sans', sans-serif;
  margin-left: 1em;
  margin-top: 1em; }

/* Illustration Animations ------------------------ Illustration Animations */
/* 0 Fool */
@keyframes fool-sway {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(15deg); } }

.fool-sway {
  animation: fool-sway 5s infinite alternate;
  z-index: 1; }

/* 1 Magician */
@keyframes m-rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.magician-rotator-container {
  border: solid red 3px;
  border-radius: 100%;
  height: 24%;
  left: 40%;
  position: absolute;
  top: 40%;
  width: 30%; }

.magician-rotator {
  border: solid red 3px;
  border-radius: 50% 0 50% 0;
  height: 100%;
  left: -3px;
  position: absolute;
  top: -3px;
  width: 100%; }

@keyframes magician-symbols {
  0% {
    opacity: 0;
    filter: blur(20px); }
  12.5% {
    opacity: 1;
    filter: blur(0); }
  25% {
    opacity: 0;
    filter: blur(20px); }
  100% {
    opacity: 0; } }

.magician-symbols {
  animation: magician-symbols 10s infinite;
  height: 15%;
  opacity: 0;
  position: absolute; }

/* 2 High Priestess */
@keyframes inkblot {
  0% {
    filter: blur(0) opacity(0); }
  80% {
    filter: blur(0) opacity(0); }
  83% {
    filter: blur(0) opacity(0.9); }
  100% {
    filter: blur(1px) opacity(1); } }

.inkblot {
  animation: inkblot 16s linear;
  filter: blur(1px); }

/* 3 Empress */
@keyframes empress-hues {
  from {
    filter: hue-rotate(0deg); }
  to {
    filter: hue-rotate(-90deg); } }

@keyframes empress-snow {
  from {
    filter: hue-rotate(0deg);
    top: -10%;
    transform: rotate(0deg);
    visibility: visible; }
  to {
    filter: hue-rotate(-180deg);
    top: 110%;
    transform: rotate(360deg);
    visibility: visible; } }

.empress-snow {
  animation: empress-snow 10s infinite linear;
  border-radius: 50% 0 50% 0;
  background: green;
  height: 2%;
  position: absolute;
  visibility: hidden;
  width: 2%;
  z-index: 2; }

/* 4 Emperor */
.emperor-starmap {
  animation: rotate 20s reverse infinite linear;
  background: #0b0d19;
  left: -55%;
  width: 200%;
  position: absolute;
  top: -30%; }

/* 5 Hierophant */
@keyframes featherfall-one {
  0% {
    top: 30%;
    right: 20%; }
  100% {
    top: 90%;
    right: 120%; } }

@keyframes featherfall-two {
  0% {
    top: 35%;
    right: 10%; }
  100% {
    top: 70%;
    right: 120%; } }

@keyframes featherfall-three {
  0% {
    top: 40%;
    right: 15%; }
  100% {
    top: 50%;
    right: 120%; } }

@keyframes featherfall-four {
  0% {
    top: 40%;
    right: 0%; }
  100% {
    top: 30%;
    right: 120%; } }

@keyframes featherfall-five {
  0% {
    top: 40%;
    right: 0%; }
  100% {
    top: 110%;
    right: 120%; } }

/* Lovers */
@keyframes lovers-snow {
  from {
    top: -10%;
    visibility: visible; }
  to {
    top: 110%;
    visibility: visible; } }

.lovers-snow {
  animation: lovers-snow 5s infinite linear;
  border: solid white 2px;
  border-top: none;
  border-left: none;
  border-radius: 100%;
  height: 4%;
  position: absolute;
  visibility: hidden;
  width: 5%; }

/* 7 Chariot */
@keyframes chariot-wheel {
  0% {
    transform: rotate(0deg);
    background-color: #cccc00; }
  16.7% {
    transform: rotate(120deg);
    background-color: #009933; }
  33.3% {
    transform: rotate(240deg);
    background-color: #006699; }
  50% {
    transform: rotate(360deg);
    background-color: #3333ff; }
  66.7% {
    transform: rotate(480deg);
    background-color: #cc00cc; }
  83.3% {
    transform: rotate(600deg);
    background-color: #cc0000; }
  100% {
    transform: rotate(720deg);
    background-color: #cc9900; } }

.chariot-wheel {
  animation: chariot-wheel 10s infinite linear;
  background-color: red;
  position: absolute;
  width: 41%; }

/* 10 Wheel */
.wheel-container {
  background: white;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }

@keyframes wheel-rotate {
  from {
    transform: rotate(0deg); }
  from {
    transform: rotate(360deg); } }

.wheel-inner {
  animation: wheel-rotate 10s infinite linear;
  left: 0;
  position: absolute;
  top: -5%;
  width: 100%;
  z-index: 1; }

/* 11 Strength */
.strength-birch {
  left: 0;
  position: absolute;
  top: -40%;
  width: 100%;
  z-index: 1; }

.strength-cat {
  left: 20%;
  position: absolute;
  top: -3%;
  width: 50%;
  z-index: 3; }

.strength-mirror {
  background-image: linear-gradient(#4d0f00, #ffad99);
  height: 70%;
  left: 0;
  position: absolute;
  top: 40%;
  width: 100%; }

@keyframes strength-lion {
  from {
    filter: blur(30px);
    opacity: 0.2; }
  to {
    filter: blur(1px);
    opacity: 0.7; } }

.strength-lion {
  animation: strength-lion 8s;
  filter: blur(1px);
  left: 5%;
  opacity: 0.7;
  position: absolute;
  top: 40%;
  width: 90%;
  z-index: 2; }

/* 11 Justice */
.justice-sword {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1; }

@keyframes justice-background {
  from {
    width: 20%; }
  to {
    width: 50%; } }

.justice-background {
  animation: justice-background 3s infinite alternate linear;
  height: 75%;
  position: absolute;
  top: 25%; }

/* 12 Hanged Man */
@keyframes rainbow-shift {
  from {
    filter: hue-rotate(0deg); }
  to {
    filter: hue-rotate(360deg); } }

.rainbow-shift {
  animation: rainbow-shift 10s infinite linear reverse; }

/* 13 Death */
@keyframes death-pulse {
  0% {
    background: #003300; }
  20% {
    background: #003300; }
  100% {
    background: #006600; } }

.death-pulse {
  animation: death-pulse 4s infinite alternate; }

/* 15 Devil */
@keyframes devil-eye {
  0% {
    transform: rotateY(0deg);
    left: 17%;
    top: 30%; }
  10% {
    transform: rotateY(23deg);
    left: 25%;
    top: 31%; }
  20% {
    transform: rotateY(23deg);
    left: 25%;
    top: 31%; }
  30% {
    transform: rotateY(0deg);
    left: 17%;
    top: 30%; }
  40% {
    transform: rotateY(0deg);
    left: 17%;
    top: 30%; }
  50% {
    transform: rotateY(-17deg);
    left: 10%;
    top: 30.5%; }
  60% {
    transform: rotateY(-17deg);
    left: 10%;
    top: 30.5%; }
  70% {
    transform: rotateY(0deg);
    left: 17%;
    top: 30%; }
  100% {
    transform: rotateY(0deg);
    left: 17%; } }

/* 16 Tower */
@keyframes thunder {
  0% {
    filter: brightness(1); }
  0.5% {
    filter: brightness(5); }
  1% {
    filter: brightness(3); }
  1.5% {
    filter: brightness(5); }
  3% {
    filter: brightness(1); }
  100% {
    filter: brightness(1); } }

.thunder {
  animation: thunder 15s infinite linear; }

/* 18 Moon */
@keyframes firefly {
  0% {
    opacity: 0; }
  25% {
    opacity: 1; }
  75% {
    opacity: 0; }
  100% {
    opacity: 0; } }

.animation-firefly {
  animation: firefly 12s infinite; }

/* 19 Sun */
@keyframes sun-sway {
  from {
    transform: rotate(0);
    left: 0; }
  to {
    transform: rotate(10deg);
    left: 10%; } }

.sun-sway {
  animation: sun-sway 4s infinite alternate;
  position: relative; }

@keyframes sun-seeds {
  0% {
    opacity: 0;
    left: 15%; }
  25% {
    opacity: 1;
    left: 40%;
    top: -5%; }
  100% {
    opacity: 1;
    left: 115%;
    top: -20%; } }

.sun-seeds {
  animation: sun-seeds 8s infinite linear;
  left: 15%;
  position: absolute;
  transform: rotate(45deg);
  top: 5%;
  width: 50%; }

/* General Animations */
@keyframes rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.animation-rotate-medium {
  animation: rotate 20s infinite linear; }

.animation-rotate-slow {
  animation: rotate 30s infinite linear; }

.animation-rotate-slower {
  animation: rotate 40s infinite linear; }

.animation-rotate-slowest {
  animation: rotate 60s infinite linear; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin; }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; }

.App-link {
  color: #61dafb; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/* Card Component */
.card-component {
  background: #0086b3;
  backface-visibility: hidden;
  border: solid #002133 2px;
  border-radius: 3%;
  box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: inline-block;
  height: 300px;
  margin: 5px;
  overflow: hidden;
  position: relative;
  width: 200px; }

.card-index-space {
  display: inline-block;
  border-radius: 3%;
  height: 314px;
  width: 214px; }

.card-component-back {
  background-image: url("../Assets/Card_Back.png");
  background-color: #737373;
  background-position: center;
  background-size: cover;
  backface-visibility: hidden;
  border: solid #002133 2px;
  border-radius: 3%;
  box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  height: 300px;
  position: absolute;
  top: 5px;
  transform: rotateY(180deg);
  left: 5px;
  width: 200px;
  z-index: 500; }

@keyframes card-locked-remove-deck {
  from {
    left: 0; }
  to {
    left: -200%; } }

.card-locked {
  background-image: url("../Assets/Card_Back.png");
  background-color: #737373;
  background-position: center;
  background-size: cover;
  border: solid #002133 2px;
  border-radius: 3%;
  box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: inline-block;
  height: 300px;
  margin: 5px;
  position: relative;
  width: 200px; }

.card-component-corner-left {
  bottom: 0;
  filter: invert(1);
  left: 0;
  opacity: 0.4;
  position: absolute;
  transform: rotateZ(180deg);
  width: 30%; }

.card-component-corner-right {
  filter: invert(1);
  opacity: 0.4;
  position: absolute;
  right: 0%;
  transform: rotate(90deg);
  bottom: 0;
  width: 30%; }

.card-component-flip-container {
  border: solid white 2px;
  height: 314px;
  margin: auto;
  position: relative;
  perspective: 500px;
  width: 214px; }

.card-component-flip-container-inner {
  height: 100%;
  position: relative;
  transition: transform 0.8s;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  width: 100%; }

@keyframes card-flip-up {
  from {
    transform: rotateY(180deg); }
  to {
    transform: rotateY(0); } }

.card-component-inspect {
  animation: card-inspect-appear 0.5s;
  height: 90vh;
  left: 30vw;
  max-height: 563px;
  max-width: 420px;
  position: fixed;
  top: 5vh;
  width: 72vh;
  z-index: 100; }

@media only screen and (max-width: 640px) {
  .card-component-inspect {
    animation: none;
    width: 250px;
    height: 300px;
    left: 5%; }
  p.card-name-inspect {
    font-size: 1em; }
  .card-component-inspect p {
    font-size: 0.8em; }
  div.card-component-inspect-inner {
    width: 80%; } }

@keyframes card-inspect-appear {
  from {
    left: -100vw; }
  to {
    left: 30vw; } }

.card-component-inspect-inner {
  background: #0086b3;
  border: solid #002133 2px;
  border-radius: 3%;
  box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.2);
  float: left;
  height: 100%;
  overflow: auto;
  width: 90%; }

.card-description {
  margin: 5%;
  width: 90%; }

.card-description-reversal {
  cursor: default;
  margin: 5%;
  width: 90%; }

.card-description-reversal p {
  cursor: pointer; }

.card-description-reversal p:hover {
  opacity: 0.7; }

.card-description-reversal textarea {
  background: none;
  border: solid white 2px;
  border-radius: 3px;
  color: white;
  font-size: 1em;
  height: 10em;
  width: 80%; }

.card-illustration {
  margin: auto;
  margin-top: 5%;
  width: 90%;
  height: 75%;
  overflow: hidden;
  border: solid #002133 2px; }

.card-name {
  color: white;
  font-family: 'Satisfy', cursive;
  position: absolute;
  text-align: center;
  top: 86%;
  width: 100%; }

.card-name-inspect {
  color: white;
  font-family: 'Satisfy', cursive;
  font-size: 2em;
  position: absolute;
  text-align: center;
  top: 86%;
  transition: linear width 1s, height 1s, top 1s, left 1s;
  width: 90%; }

/* Card Tabs ------------------------------------------- Card Tabs */
.card-tab-index {
  z-index: -1;
  float: left;
  width: 9%;
  height: 100%;
  text-align: center; }

.card-tab {
  font-size: 90%;
  font-family: 'Satisfy', cursive;
  position: relative;
  top: 5%;
  background: green;
  width: 120%;
  cursor: pointer;
  border: 2px #002133 solid;
  border-left: none; }

.card-animation {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 105%;
  width: 105%;
  overflow: hidden;
  background: black; }

.card-fit-height {
  height: 100%;
  position: relative; }

.card-fit-width {
  width: 100%;
  position: relative; }

/* Card Index -------------------------------------- Card Index */
.card-index {
  text-align: center;
  position: relative; }

.card-index-select {
  text-align: left;
  width: 100%; }

.card-index-select select {
  margin-left: 5px; }

footer {
  bottom: 0;
  height: 3em;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: -1; }

footer p {
  margin-left: 2em; }

footer img {
  backface-visibility: visible;
  filter: invert(1);
  height: 200%;
  opacity: 0.4;
  position: absolute;
  bottom: 5%; }

header {
  height: 75px;
  position: relative;
  text-align: center;
  z-index: -1; }

header h1 {
  border-top: 3px solid white;
  text-decoration: underline;
  display: inline-block;
  padding-top: 0.2em;
  padding-left: 2em;
  padding-right: 2em;
  font-family: 'Josefin Sans', sans-serif; }

@media only screen and (max-width: 540px) {
  header h1 {
    display: none; }
  .header-corner {
    display: none; } }

.header-symbols-left {
  bottom: 5px;
  filter: invert(1);
  height: 75%;
  left: 35%;
  position: absolute; }

.header-symbols-right {
  backface-visibility: visible;
  bottom: 5px;
  filter: invert(1);
  height: 75%;
  position: absolute;
  right: 35%;
  transform: rotateY(180deg); }

.header-corner {
  backface-visibility: visible;
  filter: invert(1);
  height: 100%;
  position: absolute;
  top: 0; }

.help-background-screen {
  background: rgba(0, 0, 0, 0.4);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw; }

.help-container {
  animation: help-container 1s;
  background: #ccffff;
  border: solid black 2px;
  border-radius: 7px;
  color: black;
  height: 60%;
  min-height: 500px;
  min-width: 400px;
  left: 20%;
  overflow-y: auto;
  padding: 1em;
  position: fixed;
  text-align: center;
  top: 10%;
  width: 60%;
  z-index: 100; }

.help-container button {
  background: none;
  border: solid black 2px;
  border-radius: 3px;
  cursor: pointer;
  margin: 3px; }

@keyframes help-container {
  from {
    left: -100%; }
  to {
    left: 20%; } }

.lesson-buttons {
  text-align: center;
  width: 100%; }

.lesson-buttons p {
  border: solid white 2px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  padding: 1em; }

.lesson-container {
  background: black;
  border: 2px white solid;
  border-radius: 5px;
  left: 10vw;
  min-height: 60vh;
  position: absolute;
  text-align: center;
  width: 80vw;
  z-index: 100; }

.lesson-container p {
  margin: 1em; }

.lesson-exit-button {
  background: black;
  border: solid white 10px;
  border-radius: 100%;
  color: white;
  cursor: pointer;
  height: 20px;
  position: absolute;
  right: -1em;
  top: -1em;
  width: 20px; }

.lesson-form-text {
  background: rgba(0, 0, 0, 0);
  border: dashed white 1px;
  color: white;
  margin: 1em 0 1em 0;
  width: 100%;
  height: 5em; }

.lesson-image {
  display: inline-block;
  float: left;
  height: 420px;
  margin-top: 1em;
  margin-left: 2%;
  width: 280px; }

.lesson-next-button {
  cursor: pointer;
  bottom: 1em;
  left: 0;
  position: absolute; }

.lesson-next-button:hover {
  color: grey; }

.lesson-submit-button {
  color: white;
  background: black;
  border: white solid 1px; }

.lesson-text {
  display: inline-block;
  float: left;
  margin-top: 2%;
  margin-left: 2%;
  min-height: 395px;
  min-width: 300px;
  text-align: left;
  width: 60%; }

/* Navbar --------------------------------------- Navbar */
.navbar {
  border: solid black 2px;
  border-left: none;
  border-right: none;
  display: inline-block;
  font-family: 'Josefin Sans', sans-serif;
  height: 2em;
  padding-top: 0.5em;
  transition: font-size 0.2s;
  width: 100%; }
  .navbar a {
    color: white;
    margin-right: 1em;
    margin-left: 5px; }
  .navbar div {
    float: left;
    display: inline-block; }

.navbar-accordion {
  display: none; }

@media only screen and (max-width: 630px) and (min-width: 540px) {
  .navbar {
    font-size: 0.8em; } }

@media only screen and (max-width: 540px) {
  .navbar {
    display: none; }
  .navbar-accordion {
    display: inline-block; } }

.navbar-left {
  text-align: left;
  width: 80%; }

.navbar-right {
  text-align: right;
  width: 19%; }

/* Onboarding Components ----------------------------- Onboarding Components */
.onboard-popup {
  animation: onboard-popup-appear 1s;
  background: #ccffff;
  border: black solid 2px;
  border-radius: 5px;
  color: black;
  left: 25%;
  top: 25%;
  padding: 1em;
  position: fixed;
  text-align: center;
  -webkit-transition: left 1s;
  transition: left 1s;
  width: 50%;
  z-index: 1000; }

.onboard-popup p {
  cursor: default; }

@keyframes onboard-popup-appear {
  from {
    left: -75%; }
  to {
    left: 25%; } }

.onboard-popup-exit {
  background: #ccffff;
  border: black solid 2px;
  border-radius: 100%;
  cursor: pointer;
  height: 1.5em;
  position: absolute;
  right: -2em;
  top: -1em;
  width: 1.5em; }

.onboard-popup-exit:hover {
  color: red; }

.onboard-background {
  bottom: 0;
  left: 0;
  opacity: 0.8;
  position: absolute;
  transform: rotate(-15deg);
  width: 10%; }

/* Spread Components ------------------------------------- Spread Components */
.table-card-container {
  text-align: center;
  width: 100%; }

.position-container-threecard {
  display: inline-block;
  margin: auto;
  text-align: center;
  width: 25%; }

/* Profile Components ------------------------------------- Profile Components */
.profile-info-container {
  box-sizing: border-box;
  float: left;
  margin-right: 2.2%;
  min-width: 300px;
  padding: 1em;
  width: 100%; }

.profile-spread-index {
  float: left;
  min-width: 650px;
  padding: 5px;
  text-align: center;
  width: 100%; }

.profile-spread-card-container {
  text-align: center;
  display: inline-block;
  margin-right: 5%;
  margin-left: 1%;
  max-width: 650px;
  min-width: 240px; }

.profile-notes-container {
  border: white solid 2px;
  border-radius: 5px;
  display: inline-block;
  height: 300px;
  margin-left: 5%;
  margin-bottom: 40px;
  min-width: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 40%; }

.profile-note {
  background: black;
  border-radius: 5px;
  margin: 5px;
  padding: 0.3em 0.5em 0.3em 0.5em; }

.profile-note-create {
  background: white;
  border-radius: 5px;
  cursor: pointer;
  filter: invert(1);
  margin: 5px;
  width: 4em; }

.profile-note-form {
  text-align: center;
  margin: 0.5em;
  width: 100%; }

.profile-note-form textarea {
  background: rgba(125, 125, 125, 0.3);
  border: solid white 2px;
  border-radius: 5px;
  color: white;
  width: 80%; }

.form-button {
  background: rgba(0, 0, 0, 0);
  border: solid white 2px;
  border-radius: 3px;
  color: white;
  margin: 10px; }

/* Login & Signup ------------------------------- Login & Signup */
.user-signup-login-container {
  text-align: center; }

.user-signup-login-error {
  background: #ff9999;
  border-radius: 5px;
  height: 2em;
  left: 25%;
  padding-top: 0.5em;
  padding-bottom: 1em;
  position: fixed;
  top: 50%;
  transition: top 1s;
  width: 50%; }
