/* Fonts Reference */
/* font-family: 'Satisfy', cursive; */

body {
  backface-visibility: hidden;
  background-image: linear-gradient(#008080, #00b386);
  color: white;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 0;
}

body a {
  text-decoration: none;
}

body img {
  backface-visibility: hidden;
}

/* Header ----------------------------------------------- Header */

header {
  height: 75px;
  position: relative;
  text-align: center;
  z-index: -1;
}

header h1 {
  border-top: 3px solid white;
  text-decoration: underline;
  display: inline-block;
  padding-left: 2em;
  padding-right: 2em;
  font-family: 'Satisfy', cursive;
}

.header-symbols-left {
  bottom: 5px;
  filter: invert(1);
  height: 75%;
  left: 35%;
  position: absolute;
}

.header-symbols-right {
  backface-visibility: visible;
  bottom: 5px;
  filter: invert(1);
  height: 75%;
  position: absolute;
  right: 35%;
  transform: rotateY(180deg);
}

.header-corner {
  backface-visibility: visible;
  filter: invert(1);
  height: 100%;
  position: absolute;
  top: 0;
}

/* --------------- */

/* Footer ------------------------------------- Footer */

footer {
  bottom: 0;
  height: 3em;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: -1;
}

footer p {
  margin-left: 2em;
}

footer img {
  backface-visibility: visible;
  filter: invert(1);
  height: 200%;
  opacity: 0.4;
  position: absolute;
  bottom: 5%;
}

/* -------------- */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Card Index -------------------------------------- Card Index */

.card-index {
  text-align: center;
  position: relative;
}

/* --- */

/* Card Component */

.card-component {
  background: #0086b3;
  backface-visibility: hidden;
  border: solid #002133 2px;
  border-radius: 3%;
  box-shadow: 1px 3px 2px rgba(0,0,0,0.2);
  cursor: pointer;
  display: inline-block;
  height: 300px;
  margin: 5px;
  overflow: hidden;
  position: relative;
  width: 200px;
}

.card-index-space {
  display: inline-block;
  border-radius: 3%;
  height: 314px;
  width: 214px;
}

.card-component-back {
  background-image: url('./Assets/Card_Back.png');
  background-color: #737373;
  background-position: center;
  background-size: cover;
  backface-visibility: hidden;
  border: solid #002133 2px;
  border-radius: 3%;
  box-shadow: 1px 3px 2px rgba(0,0,0,0.2);
  cursor: pointer;
  height: 300px;
  position: absolute;
  top: 5px;
  transform: rotateY(180deg);
  left: 5px;
  width: 200px;
  z-index: 500;
}

.card-locked {
  background-image: url('./Assets/Card_Back.png');
  background-color: #737373;
  background-position: center;
  background-size: cover;
  border: solid #002133 2px;
  border-radius: 3%;
  box-shadow: 1px 3px 2px rgba(0,0,0,0.2);
  cursor: pointer;
  display: inline-block;
  height: 300px;
  margin: 5px;
  width: 200px;
}

.card-component-corner-left {
  bottom: 0;
  filter: invert(1);
  left: 0;
  opacity: 0.4;
  position: absolute;
  transform: rotateZ(180deg);
  width: 30%;
}

.card-component-corner-right {
  filter: invert(1);
  opacity: 0.4;
  position: absolute;
  right: 0%;
  transform: rotate(90deg);
  bottom: 0;
  width: 30%;
}

.card-component-flip-container {
  border: solid white 2px;
  height: 314px;
  margin: auto;
  position: relative;
  perspective: 500px;
  width: 214px;
}

.card-component-flip-container-inner {
  height: 100%;
  position: relative;
  transition: transform 0.8s;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  width: 100%;
}

@keyframes card-flip-up {
  from { transform: rotateY(180deg) }
  to { transform: rotateY(0) }
}

.card-component-inspect {
  animation: card-inspect-appear 0.5s;
  height: 90vh;
  left: 30vw;
  max-height: 563px;
  max-width: 420px;
  position: fixed;
  top: 5vh;
  width: 72vh;
  z-index: 100;
}

@keyframes card-inspect-appear {
  from { left: -100vw }
  to { left: 30vw }
}

.card-component-inspect-inner {
  background: #0086b3;
  border: solid #002133 2px;
  border-radius: 3%;
  box-shadow: 1px 3px 2px rgba(0,0,0,0.2);
  float: left;
  height: 100%;
  overflow: auto;
  width: 90%;
}

.card-description {
  margin: 5%;
  width: 90%;
}

.card-description-reversal {
  margin: 5%;
  width: 90%;
}

.card-illustration {
  margin: auto;
  margin-top: 5%;
  width: 90%;
  height: 75%;
  overflow: hidden;
  border: solid #002133 2px;
}

.card-name {
  color: white;
  font-family: 'Satisfy', cursive;
  position: absolute;
  text-align: center;
  top: 86%;
  width: 100%;
}

.card-name-inspect {
  color: white;
  font-family: 'Satisfy', cursive;
  font-size: 2em;
  position: absolute;
  text-align: center;
  top: 86%;
  transition: linear width 1s, height 1s, top 1s, left 1s;
  width: 90%;
}

/* Card Tabs ------------------------------------------- Card Tabs */

.card-tab-index {
  z-index: -1;
  float: left;
  width: 9%;
  height: 100%;
  text-align: center;
}

.card-tab {
  font-size: 90%;
  font-family: 'Satisfy', cursive;
  position: relative;
  top: 5%;
  background: green;
  width: 120%;
  cursor: pointer;
  border: 2px #002133 solid;
  border-left: none;
}

.card-tab-exit {

}

.card-tab-description {

}

.card-tab-illustration {

}

.card-tab-reversal {

}

.card-animation {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 105%;
  width: 105%;
  overflow: hidden;
  background: black;
}

.card-fit-height {
  height: 100%;
  position: relative;
}

.card-fit-width {
  width: 100%;
  position: relative;
}

/* ----------- */

/* Illustration Animations ------------------------ Illustration Animations */

/* 0 Fool */

@keyframes fool-sway {
  from { transform: rotate(0deg); }
  to { transform: rotate(15deg); }
}

.fool-sway {
  animation: fool-sway 5s infinite alternate;
  z-index: 1;
}

/* 1 Magician */

@keyframes m-rotate {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}

.magician-rotator-container {
  border: solid red 3px;
  border-radius: 100%;
  height: 24%;
  left: 40%;
  position: absolute;
  top: 40%;
  width: 30%;
}

.magician-rotator {
  border: solid red 3px;
  border-radius: 50% 0 50% 0;
  height: 100%;
  left: -3px;
  position: absolute;
  top: -3px;
  width: 100%;
}

@keyframes magician-symbols {
  0% {opacity: 0; filter: blur(20px);}
  12.5% {opacity: 1; filter: blur(0);}
  25% {opacity: 0; filter: blur(20px);}
  100% {opacity: 0;}
}

.magician-symbols {
  animation: magician-symbols 10s infinite;
  height: 15%;
  opacity: 0;
  position: absolute;
}

/* 2 High Priestess */


@keyframes inkblot {
  0% { filter: blur(0) opacity(0) }
  80% { filter: blur(0) opacity(0) }
  83% { filter: blur(0) opacity(0.9) }
  100% { filter: blur(1px) opacity(1) }
}

.inkblot {
  animation: inkblot 16s linear;
  filter: blur(1px)
}

/* 3 Empress */

@keyframes empress-hues {
  from { filter: hue-rotate(0deg); }
  to { filter: hue-rotate(-90deg); }
}

@keyframes empress-snow {
  from { filter: hue-rotate(0deg); top: -10%; transform: rotate(0deg); visibility: visible; }
  to { filter: hue-rotate(-180deg); top: 110%; transform: rotate(360deg); visibility: visible; }
}

.empress-snow {
  animation: empress-snow 10s infinite linear;
  border-radius: 50% 0 50% 0;
  background: green;
  height: 2%;
  position: absolute;
  visibility: hidden;
  width: 2%;
  z-index: 2;
}

/* 4 Emperor */

.emperor-starmap {
  animation: rotate 20s reverse infinite linear;
  background: #0b0d19;
  left: -55%;
  width: 200%;
  position: absolute;
  top: -30%;
}

/* 5 Hierophant */
@keyframes featherfall-one {
  0% { top: 30%; right: 20%; }
  100% { top: 90%; right: 120%; }
}

@keyframes featherfall-two {
  0% { top: 35%; right: 10%; }
  100% { top: 70%; right: 120%; }
}

@keyframes featherfall-three {
  0% { top: 40%; right: 15%; }
  100% { top: 50%; right: 120%; }
}

@keyframes featherfall-four {
  0% { top: 40%; right: 0%; }
  100% { top: 30%; right: 120%; }
}

@keyframes featherfall-five {
  0% { top: 40%; right: 0%; }
  100% { top: 110%; right: 120%; }
}

/* 7 Chariot */

@keyframes chariot-wheel {
  0% { transform: rotate(0deg); background-color: #cccc00 }
  16.7% { transform: rotate(120deg); background-color: #009933 }
  33.3% { transform: rotate(240deg); background-color: #006699 }
  50% { transform: rotate(360deg); background-color: #3333ff }
  66.7% { transform: rotate(480deg); background-color: #cc00cc }
  83.3% { transform: rotate(600deg); background-color: #cc0000 }
  100% { transform: rotate(720deg); background-color: #cc9900 }
}

.chariot-wheel {
  animation: chariot-wheel 10s infinite linear;
  background-color: red;
  position: absolute;
  width: 41%;
}

/* 10 Wheel */

.wheel-container {
  background: white;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@keyframes wheel-rotate {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

.wheel-inner {
  animation: wheel-rotate 10s infinite linear;
  left: 0;
  position: absolute;
  top: -5%;
  width: 100%;
  z-index: 1;
}

/* 11 Strength */

.strength-birch {
  left: 0;
  position: absolute;
  top: -40%;
  width: 100%;
  z-index: 1;
}

.strength-cat {
  left: 20%;
  position: absolute;
  top: -3%;
  width: 50%;
  z-index: 3;
}

.strength-mirror {
  background-image: linear-gradient(#4d0f00, #ffad99);
  height: 70%;
  left: 0;
  position: absolute;
  top: 40%;
  width: 100%;
}

@keyframes strength-lion {
  from { filter: blur(30px); opacity: 0.2 }
  to { filter: blur(1px); opacity: 0.7 }
}

.strength-lion {
  animation: strength-lion 8s;
  filter: blur(1px);
  left: 5%;
  opacity: 0.7;
  position: absolute;
  top: 40%;
  width: 90%;
  z-index: 2;
}

/* 12 Hanged Man */

@keyframes rainbow-shift {
  from { filter: hue-rotate(0deg) }
  to { filter: hue-rotate(360deg) }
}

.rainbow-shift {
  animation: rainbow-shift 10s infinite linear;
}

/* 13 Death */
@keyframes death-pulse {
  0% { background: #003300 }
  20% { background: #003300 }
  100% { background: #006600 }
}

.death-pulse {
  animation: death-pulse 4s infinite alternate;
}

/* 16 Tower */

@keyframes thunder {
  0% { filter: brightness(1); }
  0.5% { filter: brightness(5); }
  1% { filter: brightness(3); }
  1.5% { filter: brightness(5); }
  3% { filter: brightness(1); }
  100% { filter: brightness(1); }
}

.thunder {
  animation: thunder 15s infinite linear;
}

/* 18 Moon */

@keyframes firefly {
  0% { opacity: 0 }
  25% { opacity: 1 }
  75% { opacity: 0 }
  100% { opacity: 0 }
}

.animation-firefly {
  animation: firefly 12s infinite;
}

/* General Animations */

@keyframes rotate {
  from { transform: rotate(0deg)}
  to { transform: rotate(360deg)}
}

.animation-rotate-medium {
  animation: rotate 20s infinite linear;
}

.animation-rotate-slow {
  animation: rotate 30s infinite linear;
}

.animation-rotate-slower {
  animation: rotate 40s infinite linear;
}

.animation-rotate-slowest {
  animation: rotate 60s infinite linear;
}

/* ---------- */

/* Lesson --------------------------------------------- Lesson */

.lesson-buttons {
  text-align: center;
  width: 100%;
}

.lesson-buttons p {
  border: solid white 2px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  padding: 1em;
}

.lesson-container {
  background: black;
  border: 2px white solid;
  border-radius: 5px;
  left: 10vw;
  min-height: 60vh;
  position: absolute;
  text-align: center;
  width: 80vw;
  z-index: 100;
}

.lesson-container p {
  margin: 1em;
}

.lesson-exit-button {
  background: black;
  border: solid white 10px;
  border-radius: 100%;
  color: white;
  cursor: pointer;
  height: 20px;
  position: absolute;
  right: -1em;
  top: -1em;
  width: 20px;
}

.lesson-form-text {
  background: rgba(0,0,0,0);
  border: dashed white 1px;
  color: white;
  margin: 1em 0 1em 0;
  width: 100%;
  height: 5em;
}

.lesson-image {
  display: inline-block;
  float: left;
  height: 420px;
  margin-top: 1em;
  margin-left: 2%;
  width: 280px;
}

.lesson-next-button {
  cursor: pointer;
  bottom: 1em;
  left: 0;
  position: absolute;
}

.lesson-next-button:hover {
  color: grey;
}

.lesson-submit-button {
  color: white;
  background: black;
  border: white solid 1px;
}

.lesson-text {
  display: inline-block;
  float: left;
  margin-top: 2%;
  margin-left: 2%;
  min-height: 395px;
  min-width: 300px;
  text-align: left;
  width: 60%;
}

/* ---------- */

/* Login & Signup ------------------------------- Login & Signup */

.user-signup-login-container {
  margin: 10px;
}

/* ---------- */

/* Navbar --------------------------------------- Navbar */

.navbar {
  width: 100%;
  height: 2em;
  display: inline-block;
  border: solid black 2px;
}

.navbar-left {
  text-align: left;
  display: inline-block;
  float: left;
  width: 50%
}

.navbar a {
  color: white;
  margin-right: 1em;
  margin-left: 5px;
}

.navbar-right {
  text-align: right;
  display: inline-block;
  float: left;
  width: 49%
}

/* ---------- */

/* Onboarding Components ----------------------------- Onboarding Components */

.onboard-popup {
  animation: onboard-popup-appear 1s;
  background: #ccffff;
  border: black solid 2px;
  border-radius: 5px;
  color: black;
  left: 25%;
  top: 25%;
  padding: 1em;
  position: fixed;
  text-align: center;
  -webkit-transition: left 1s;
  transition: left 1s;
  width: 50%;
  z-index: 1000;
}

@keyframes onboard-popup-appear {
  from { left: -75% }
  to { left: 25% }
}

.onboard-popup-exit {
  background: #ccffff;
  border: black solid 2px;
  border-radius: 100%;
  cursor: pointer;
  position: absolute;
  right: -1.5em;
  top: -1.5em;
  width: 1.1em;
}

.onboard-popup-exit:hover {
  color: red;
}

.onboard-background {
  bottom: 0;
  left: 0;
  opacity: 0.8;
  position: absolute;
  transform: rotate(-15deg);
  width: 10%;
}

/* ---------- */

/* Profile Components ------------------------------------- Profile Components */

.profile-info-container {
  box-sizing: border-box;
  float: left;
  margin-right: 2.2%;
  min-width: 300px;
  padding: 1em;
  width: 100%;
}

.profile-spread-index {
  float: left;
  min-width: 650px;
  padding: 5px;
  text-align: left;
  width: 100%;
}

.profile-notes-container {
  border: white solid 2px;
  border-radius: 5px;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 50%;
}

.profile-note {
  background: black;
  border-radius: 5px;
  margin: 5px;
  padding: 0.3em 0.5em 0.3em 0.5em;
}

.profile-note-create {
  background: white;
  border-radius: 5px;
  cursor: pointer;
  filter: invert(1);
  margin: 5px;
  width: 4em;
}

.profile-note-form {
  text-align: center;
  margin: 0.5em;
  width: 100%;
}

.profile-note-form textarea {
  background: rgba(125,125,125,0.3);
  border: solid white 2px;
  border-radius: 5px;
  color: white;
  width: 80%;
}

.profile-note-form input {
  background: rgba(0,0,0,0);
  border: solid white 2px;
  border-radius: 3px;
  color: white;

}

.profile-note-delete {

}

/* ---------- */

/* Spread Components ------------------------------------- Spread Components */

.table-card-container {
  text-align: center;
  width: 100%;
}

.position-container-threecard {
  display: inline-block;
  float: left;
  text-align: center;
  width: 25%;
}

/* ---------- */
