/* Fonts Reference */
/* font-family: 'Satisfy', cursive; */
/* font-family: 'Josefin Sans', sans-serif; */
/* font-family: 'Noto Sans', sans-serif; */

/* Unclear on what 'code' does, I'll leave it in just for kicks :P */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

body {
  backface-visibility: hidden;
  background-image: linear-gradient(#008080, #00b386);
  color: white;
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 0;
}

body a {
  text-decoration: none;
}

body img {
  backface-visibility: hidden;
}

/* Media size rules ------------------------------------- Media size rules */

/* For only large screens */

@media only screen and (max-width: 1100px) {
  .large-screen-only {
    display: none;
  }
}

/* Removes elements on small screens */

@media only screen and (max-width: 540px) {
  .small-screen-remove {
    display: none;
  }
}

/* -------- */

/* Loading --------------------------------------------- Loading */

.loading-container {
  position: absolute;
  text-align: center;
  top: 30%;
  width: 100%;
}

.loading-sun {
  animation: rotate 5s infinite linear;
  filter: invert(1);
  position: relative;
  right: -50px;
  width: 100px;
}

.loading-moon {
  animation: rotate 10s infinite linear reverse;
  filter: invert(1);
  left: -50px;
  position: relative;
  width: 100px;
}

/* ---------- */
